@page
@model WebApplication9.Pages.Restaurant.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>Restaurants</h2>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            @*<input type="search" class="form-control" value="" name="searchTerm" />*@
            <input type="search" class="form-control" asp-for="SearchTerm" />

            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>

</form>

@Model.Messgae

<table class="table">
@foreach (var restaurant in Model.Restaurants)
{
    <tr>
    <td>@restaurant.Id</td> 
    <td>@restaurant.Title</td>
    <td>@restaurant.City</td>
    <td>@restaurant.Cuisine</td>
    <td>
        @*<a class="btn btn-lg" href="/Restaurant/Detail?restaurantID=@restaurant.Id">*@
        <a class="btn btn-lg" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">
            <i class="glyphicon glyphicon-zoom-in"></i>
        </a>
        <a class="btn btn-lg" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
    </td>
    </tr>
}
</table>

<a asp-page=".\Edit" class="btn btn-primary">Add New </a>

<div>@Model.Messgae</div>